*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.person--avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.person--avatar img {
  border-radius: 50%;
  width: 98px;
  height: 98px;
}

/* Person Info */

.person {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.person--name {
  color: #000;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.78px;
}
.person--user-id {
  color: #999;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Actions */
.actions {
  display: flex;
  overflow: hidden;
  padding: 15px 0px 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.actions div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  cursor: pointer;

  border-radius: 50%;
  background-color: #F2F7FC;
}

.actions div img {
  width: 26px;
  height: 26px;
}